@if (productaja) {
    <mat-card appearance="raised" routerLink="/shop/{{productaja.id}}" class="product-card">
        <img src="{{productaja.pictureUrl}}" alt="image of {{productaja.name}}">
        <mat-card-content class="mt-2">
            <h2 class="text-sm font-semibold uppercase">{{productaja.name}}</h2>
            <p class="font-light">{{productaja.price | currency}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button class="w-full">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to cart
            </button>
        </mat-card-actions>
    </mat-card>

}
